
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uKNX</title>
</head>
<body>
{{>layout}}
</body>

<template name="layout">

    <!-- SideMenu - Left Navigation -->
    <div id="nav" class="nav">
        <div class="icon">
            <ul>
                <li><a href="/dashboard"><i class="icon-home"></i></a></li>
                <li><a href="/devicesAll"><i class="icon-game-controller"></i></a></li>
                <li><a href="/projectsAll"><i class="icon-layers"></i></a></li>
                <li><a href="#"><i class="icon-wrench"></i></a></li>
                <li><a href="/logout"><i class="icon-logout"></i></a></li>
            </ul>
        </div>
        <div class="text">
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/devicesAll" >Devices</a></li>
                <li><a href="/projectsAll" >Projects</a></li>
                <li><a href="#" >Settings</a></li>
                <li><a href="/logout" >Log out</a></li>
            </ul>
        </div>
    </div>
    <!-- /SideMenu - Left Navigation -->
    <div class="left-menu-spacer content">
        {{> authorization}}
        {{> yield}}
    </div>
</template>
