
<template name="authorization">
    <div class="div-authorization">
        {{> loginButtons align="right"}}
    </div>

</template>

<!--
<div class="div-register">
        <input type="button" class="btn btn-default" role="button" data-toggle="modal" data-target="#loginModal" value="Sign In">
        <input type="button" class="btn btn-default btn-register" value="Registration">
    </div>
    <div id='loginModal' class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
<!--<div class="modal-content">
    <form>
        <div class='row'>
            <div class='form-group'>
                <span class="col-xs-1"></span>
                <label htmlFor='username' class='col-xs-2'>Email:</label>
                <div class='col-xs-8'>
                    <input type='text' id='username' class='form-control' name='username' required />
                </div>
                <span class="col-xs-1"></span>
            </div>
        </div>
        <div class='row'>
            <div class='form-group'>
                <span class="col-xs-1"></span>
                <label htmlFor='password' class='col-xs-2'>Password:</label>
                <div class='col-xs-8'>
                    <input type='password' id='password' class='form-control' name='password' required />
                </div>
                <span class="col-xs-1"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-1"><input type='submit' class='btn btn-success' value='Login'/></div>
        </div>
        <div class="row text-center"><h5>or</h5></div>
        <div class="row text-center"></div>
    </form>
</div>
</div>
</div>-->