<template name='dashboard'>
	<h3>Welcome John Doe</h3>
		<div class="row">
			 <div class="col-lg-3 col-sm-6">
					<!-- START widget-->
					<div class="panel widget bg-primary">
						 <div class="row row-table">
								<div class="col-xs-4 text-center bg-primary-dark pv-lg full-height">
									 <em class="icon-game-controller fa-3x"></em>
								</div>
								<div class="col-xs-8 pv-lg">
									 <div class="h2 mt0">1</div>
									 <div class="text-uppercase">Device(s)</div>
								</div>
						 </div>
					</div>
			 </div>
			 <div class="col-lg-3 col-sm-6">
					<!-- START widget-->
					<div class="panel widget bg-purple">
						 <div class="row row-table">
								<div class="col-xs-4 text-center bg-purple-dark pv-lg full-height">
									 <em class="icon-layers fa-3x"></em>
								</div>
								<div class="col-xs-8 pv-lg">
									 <div class="h2 mt0">2
									 </div>
									 <div class="text-uppercase">Project(s)</div>
								</div>
						 </div>
					</div>
			 </div>
		</div>
</template>
