<template name="projectsPages">
    <h3>Pages</h3>
    <span class="help-block">Some explanation will be placed here..</span>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Functional Model</th>
            <th>Visible</th>
            <th>Order</th>
            <th>Actions</th></tr>
        </thead>
        <tbody>
        <tr>
            <td>Downstairs</td>
            <td>Zoomable Image</td>
            <td><input name="gfgfhgewwfghf" type="checkbox"  data-size="mini" data-on-text="Yes" data-off-text="No" checked></td>
            <td><a href="#">Down</a></td>
            <td><a href="#">Clone</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        <tr>
            <td>Upstairs</td>
            <td>Full Size Fixed Image</td>
            <td><input name="gfgwfghf" type="checkbox"  data-size="mini" data-on-text="Yes" data-off-text="No" checked></td>
            <td><a href="#">Up</a> | <a href="#">Down</a></td>
            <td><a href="#">Clone</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        <tr>
            <td>Office</td>
            <td>List Based</td>
            <td><input name="gfgwfghf" type="checkbox"  data-size="mini" data-on-text="Yes" data-off-text="No" checked></td>
            <td><a href="#">Up</a></td>
            <td><a href="#">Clone</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="window.location.href='projectsAddPage.html'">Add New Page</button>
</template>
