<template name="projectsUsers">
    <h3>Shared Users</h3>
    <span class="help-block">Some explanation will be placed here..</span>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>E-mail</th>
            <th>Status</th>
            <th>Can Edit Project</th>
            <th>Actions</th></tr>
        </thead>
        <tbody>
        <tr>
            <td>fedirakin@gmail.com</td>
            <td>Awaiting Acknowledge</td>
            <td><input name="gfgfhgfghf" type="checkbox" data-size="mini" data-on-text="Yes" data-off-text="No"></td>
            <td><a href="#">Remove</a></td>
        </tr>
        <tr>
            <td>yulianaakin@gmail.com</td>
            <td>Acknowledged</td>
            <td><input name="gfgfhglfghf" type="checkbox" data-size="mini" data-on-text="Yes" data-off-text="No" checked></td>
            <td><a href="#">Remove</a></td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="window.location.href='projectsAddUser.html'">Add A User</button>
</template>
