<template name="projectsScenes">
    <h3>Scenes</h3>
    <span class="help-block">Some explanation will be placed here..</span>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Visible</th>
            <th>Order</th>
            <th>Actions</th></tr>
        </thead>
        <tbody>
        <tr>
            <td>Away Home</td>
            <td><input name="gfgfhg12hf" type="checkbox"  data-size="mini" data-on-text="Yes" data-off-text="No" checked></td>
            <td></td>
            <td><a href="#">Clone</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary">Add New Scene</button>
</template>
